In [ ]:
import pandas as pd
#učitavanje podataka
assessment = pd.read_csv("C:/Users/tamar/Documents/faks/diplomski/1_semestar/UZOP/anonymisedData/assessments.csv",index_col = 0)
courses = pd.read_csv("C:/Users/tamar/Documents/faks/diplomski/1_semestar/UZOP/anonymisedData/courses.csv",index_col = 0)
studentAssessment = pd.read_csv("C:/Users/tamar/Documents/faks/diplomski/1_semestar/UZOP/anonymisedData/studentAssessment.csv",index_col = 0)
studentInfo = pd.read_csv("C:/Users/tamar/Documents/faks/diplomski/1_semestar/UZOP/anonymisedData/studentInfo.csv",index_col = 0)
studentRegistration = pd.read_csv("C:/Users/tamar/Documents/faks/diplomski/1_semestar/UZOP/anonymisedData/studentRegistration.csv",index_col = 0)
studentVle = pd.read_csv("C:/Users/tamar/Documents/faks/diplomski/1_semestar/UZOP/anonymisedData/studentVle.csv",index_col = 0)
vle= pd.read_csv("C:/Users/tamar/Documents/faks/diplomski/1_semestar/UZOP/anonymisedData/vle.csv",index_col = 0)

Analiza tablice assessment:

code_module
- ime modula kojem pripada procjena

code_presentation
- identifikacijski kod prezentacije kojoj procjena pripada

id_assessment
 - identifikacijski broj procjene
 - monotona vrijednost

assessment_type
 - tip procjene
 - Tutor Marked Assessment (TMA), Computer Marked Assessment (CMA) and Final Exam (Exam)

date
 - datum finalne predaje
 - broj dana od početka prezentacije
 - 11 vrijednosti je null
 - If the information about the final exam date is missing, it is at the end of the last presentation week
    
weight
 - utjecaj procjene u postocima

In [ ]:
assessment.info()

In [ ]:
assessment.isnull().sum()

In [ ]:
assessment.nunique()

In [ ]:
assessment.describe()

Analiza tablice courses:

code_modules
 - identifikator modula
 - AAA do GGG

code_presentation
 - identifikator prezentacije
 - godina + B(February)/J(October)

length
 - duljina prezentacije u danima

In [33]:
courses.head()

            code_presentation  module_presentation_length
code_module
AAA                     2013J                         268
AAA                     2014J                         269
BBB                     2013J                         268
BBB                     2014J                         262
BBB                     2013B                         240

In [34]:
courses.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, AAA to GGG
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   code_presentation           22 non-null     object
 1   module_presentation_length  22 non-null     int64
dtypes: int64(1), object(1)
memory usage: 528.0+ bytes

In [35]:
courses.describe()

       module_presentation_length
count                   22.000000
mean                   255.545455
std                     13.654677
min                    234.000000
25%                    241.000000
50%                    261.500000
75%                    268.000000
max                    269.000000

In [36]:
courses.isnull().sum()

code_presentation             0
module_presentation_length    0
dtype: int64

In [37]:
courses.nunique()

code_presentation             4
module_presentation_length    7
dtype: int64

Analiza tablice studentAssessment:

id_assessment
 - identifikacijski broj procjene

id_student
 - identifikacijski broj studenta

date_submitted
 - datum predaje
 - broj dana od početka prezentacije modula

is_banked
 - zastavica koja označuje da je rezultat procjene prenesen iz prethodne prezentacije

score
 - rezultat procjene
 - 0-100
 - rezultat ispod 40 se smatra padom

In [38]:
studentAssessment.head()

               id_student  date_submitted  is_banked  score
id_assessment
1752                11391              18          0   78.0
1752                28400              22          0   70.0
1752                31604              17          0   72.0
1752                32885              26          0   69.0
1752                38053              19          0   79.0

In [40]:
studentAssessment.info()

<class 'pandas.core.frame.DataFrame'>
Index: 173912 entries, 1752 to 37443
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id_student      173912 non-null  int64
 1   date_submitted  173912 non-null  int64
 2   is_banked       173912 non-null  int64
 3   score           173739 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 6.6 MB

In [41]:
studentAssessment.describe()

         id_student  date_submitted      is_banked          score
count  1.739120e+05   173912.000000  173912.000000  173739.000000
mean   7.051507e+05      116.032942       0.010977      75.799573
std    5.523952e+05       71.484148       0.104194      18.798107
min    6.516000e+03      -11.000000       0.000000       0.000000
25%    5.044290e+05       51.000000       0.000000      65.000000
50%    5.852080e+05      116.000000       0.000000      80.000000
75%    6.344980e+05      173.000000       0.000000      90.000000
max    2.698588e+06      608.000000       1.000000     100.000000

In [42]:
studentAssessment.isnull().sum()

id_student          0
date_submitted      0
is_banked           0
score             173
dtype: int64

In [43]:
studentAssessment.nunique()

id_student        23369
date_submitted      312
is_banked             2
score               101
dtype: int64

analiza tablice studentInfo:

code_module
 - identifikacijski broj modula
code_presentation
 - identifikacijski broj prezentacije za koju je student registriran
id_student
 - identifikacijski broj studenta
gender
 - spol studenta
region
 - geografska regija u kojoj je student živio dok je pohađao
highest_education
 - najviša razina edukacije koju je osoba imala kada je upisala modul
imd_band
 - mjera siromaštva u

In [39]:
studentInfo.head()

,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
code_module,,,,,,,,,,,
AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass

In [ ]:
studentRegistration.head()

In [ ]:
studentVle.head()

In [ ]:
vle.head()